<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <staticContent>
                <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
                <mimeMap fileExtension=".json" mimeType="application/json" />
                <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
                <clientCache cacheControlMode="UseMaxAge" />
            </staticContent>
            <caching enabled="true" enableKernelCache="true">
                <profiles>
                    <add extension=".appcache" location="None" policy="DisableCache" kernelCachePolicy="DontCache" />
                    <add extension=".js" location="None" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".html" location="None" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".json" location="None" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".css" location="None" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />

                    <add extension=".png" location="Downstream" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="5:00:00" />
                    <add extension=".svg" location="Downstream" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="5:00:00" />
                    <add extension=".jpg" location="Downstream" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="5:00:00" />
                    <add extension=".gif" location="Downstream" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="5:00:00" />
                    <add extension=".ico" location="Downstream" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="5:00:00" />
                </profiles>
            </caching>
            <handlers>
                <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php5\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
            </handlers>
            <defaultDocument>
                <files>
                    <clear />
                    <add value="Default.htm" />
                    <add value="Default.asp" />
                    <add value="index.htm" />
                    <add value="index.html" />
                    <add value="iisstart.htm" />
                    <add value="default.aspx" />
                    <add value="index.php" />
                </files>
            </defaultDocument>
            <rewrite>
                <rules>
                    <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions>
                            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
                        </conditions>
                        <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                    </rule>
                </rules>
            </rewrite>
            <urlCompression doDynamicCompression="true" />
            <security>
                <requestFiltering>
                    <hiddenSegments>
                        <add segment="db" />
                    </hiddenSegments>
                </requestFiltering>
            </security>
        </system.webServer>
    </configuration>