<html><head>
<style type="text/css">
body{font-family:Verdana; color:#000; font-size:10pt};
</style>
</head>
<body>
<div>
Hi {name},<br/>
<br/>
We have received a request to reset your password on {appDomain}. The request was initiated from a computer identified by: {ip}. To continue with the reset, please visit the link below: <br/><br/>

<a href="{resetUrl}" target="_blank">{resetUrl}</a><br/><br/>

If you have not initiated the password reset, please notify this incident to our staff.<br/><br/>

This message has been generated automatically. Please do not reply to this e-mail address.<br/><br/>

</div>
</body>
</html>
