<div class="layerSublayer">
    <table class="layerControlTable">
        <tr>
            <td data-dojo-attach-point="expandClickNode" class="layerControlTableExpand">
                <i data-dojo-attach-point="expandIconNode" class="imicon ${icons.expand} layerControlIcon"></i>
            </td>
            <td class="layerControlTableCheck">
                <i data-dojo-attach-point="checkNode" class="imicon ${icons.unchecked} layerControlIcon"></i>
            </td>
            <td class="layerControlTableLabel">
                <span data-dojo-attach-point="labelNode"></span>
                <span data-dojo-attach-point="iconNode"></span>
            </td>
            <td data-dojo-attach-point="menuClickNode" class="layerControlTableMenu">
                <i data-dojo-attach-point="menuNode" class="imicon ${icons.zoomIn} layerControlMenuIcon" title="Zoom To"></i>
            </td>
        </tr>
    </table>
    <div data-dojo-attach-point="expandNode" class="layerControlIndent" style="display:none;">${i18n.noLegend}</div>
</div>
